/*Using <ul> for links causes them to be slightly off-center
  opted instead to just center body text                  */

a {
    color: #FFFFFF;}
a:hover {
    color: #7289DA;}
body {
    text-align: center;
    background-color: #2C2F33;}
h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #7289DA;}